@import "../../../../variables.scss";

.menu-item {
  a {
    display: flex;
    flex-wrap: wrap;
    color: $font-color;
    align-items: center;
  }
}

.menu-tem:hover {
  .menu-item-text {
    color: $pink;
    transition: all 0.5s;
  }
}

.menu-item {
  .menu-item-text {
    text-transform: capitalize;
    position: relative;
    padding-left: 10px;
    transition: all 0.5s;
  }
}

.menu-item .active {
  color: $green;
}

