.content {
  display: grid;
  grid-template-columns: 1fr 240px;
  padding: 15px;
  padding-left: 240px;
}

.content__main {
  min-width: 650px;
  box-sizing: border-box;
}
.content__other {
  width: 240px;
  padding: 0 15px;
  box-sizing: border-box;
}
