@import "../variables.scss";

.message {
  width: 70%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}

.message_user_avatar {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.message_content {
  position: relative;
  .message_bubble {
    padding: 10px;
    margin-bottom: 4px;
    background-color: $green;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .message_text {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    color: $white;
  }

  .message_date {
    width: 150px;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    bottom: -11px;
    left: 0;
  }
}

.message--isme {
  align-self: flex-end;
  flex-direction: row-reverse;
  .message_user_avatar {
    margin-left: 5px;
  }

  .message_content {
    .message_bubble {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 0;
      background-color: $white;
      border: $border-gray;
    }
    .message_text {
      color: $font-color;
    }
  }
}
