@import "../variables.scss";

.header {
  position: fixed;
  background-color: $white;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
  z-index: 10;
}

.header__wrapper {
  height: 96px;
  width: 75%;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__menu {
  margin-left: auto;
  display: flex;
}

.header__logo a {
  display: flex;
}

.header__logo-icon img {
  height: 36px;
  margin-top: 4px;
  margin-right: 4px;
}

.header__logo-name {
  font-family: "Fredoka One", cursive;
  font-size: 36px;
  color: $pink;
}

.header__settings .round-btn {
  background-color: #f5f5f5;
  animation: setting-logo-spin infinite 10s linear;
}

@keyframes setting-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__user .round-btn {
  background-color: #f5f5f5;
}

.header__user {
  position: relative;
  margin:8px;
}

.header__settings{
  margin: 8px;
}

.heager__logout {
  position: absolute;
  margin:0;
  font-weight: 500;
  font-size: 13px;
  color: $white;
  text-align: center;
  line-height: 47px;
  opacity: 0;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $pink;
  transition: ease opacity 1s;
  cursor: pointer;
}

.header__user-icon {
  border-radius: 50%;
}

.header__user:hover {
  .header__user-icon {
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.5);
  }
  .heager__logout {
    opacity: 1;
    transition-delay: 0.3s;
  }
}
