.messages {
  display: flex;
  padding: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  height: 80vh;
  min-width: 650px;
}

.dialogs_description {
  color: #adb5bd;
  font-size: 14px;
  padding-left: 10px;
}

.dialogs_wrapper {
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #f1f1f1;
}
.dialogs_list {
  height: 73vh;
  overflow: auto;
  scrollbar-width: thin;
  border-radius: 15px;
}

.dialogs_item {
  display: flex;
  align-items: center;
  margin: 15px 10px 15px 0;
}
.dialogs_item a {
  color: #888;
  margin-left: 5px;
}

.dialogs_item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffc0cb;
}

.chat {
  flex-grow: 1;
}
