.messages {
  display: flex;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  height: 83vh;
  min-width: 650px;
}

.dialogs_description {
  color: #adb5bd;
  font-size: 14px;
  padding-left: 10px;
}

.dialogs_item {
  display: flex;
  align-items: center;
  margin: 15px;
}
.dialogs_item a {
  color: #888;
  margin-left: 5px;
}

.dialogs_item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffc0cb;
}

.chat {
  flex-grow: 1;
}
