@import "../../../variables.scss";

.profile {
  min-width: 650px;
}
.profile__container {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: $border-radius;
  box-shadow: $block-shadow;
}
.profile__photo {
  img {
    width: 200px;
    height: 200px;
    border-radius: $border-radius;
  }
}
.profile__description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.profile__about {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #adb5bd;
}
.profile__contacts {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #adb5bd;
  div {
    margin-right: 10px;
  }
  a {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
  }
  .contact__facebook {
    background-image: url("../../../img/facebook.png");
  }
  .contact__twitter {
    background-image: url("../../../img/twitter.png");
  }
  .contact__youtube {
    background-image: url("../../../img/youtube.png");
  }
  .contact__vk {
    background-image: url("../../../img/vk.png");
  }
  .contact__website {
    background-image: url("../../../img/website.png");
  }
  .contact__github {
    background-image: url("../../../img/github.png");
  }
  .contact__instagram {
    background-image: url("../../../img/instagram.png");
  }
}

.profile__user-status {
  span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    color: #adb5bd;
  }
}
