@import "../../../variables.scss";

.profile_wrapper {
  min-width: 650px;
}
.profile_container {
  display: flex;
  margin-bottom: 15px;
  border-radius: $border-radius;
  box-shadow: $block-shadow;
}
