@import "../../../variables.scss";

.profile__container {
  position:relative;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: $border-radius;
  box-shadow: $block-shadow;
}
.profile__head{
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #adb5bd;
}
.profile__photo {
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

