@import "../../../variables.scss";

.dialogs {
  display: flex;
  padding: 15px;
  box-shadow: $block-shadow;
  border-radius: 15px;
  height: calc(100vh - 195px);
}

.dialogs__description {
  color: #adb5bd;
  font-size: 14px;
  padding-left: 10px;
  line-height: 20px;
}

.dialogs__wrapper {
  padding: 10px;
  border-radius: 15px;
  border: $border-gray;
}

.dialogs__chat-wrapper {
  margin-top: 48px;
  margin-left: 10px;
  flex-grow: 1;
  border: $border-gray;
  border-radius: 15px;
}
.dialogs__chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dialogs__chat-content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100vh - 330px);
  overflow-y: auto;
  overflow-x: clip;
  padding: 5px;
  box-sizing: border-box;
}
.dialogs__chat-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.dialogs__message {
  margin-bottom: 25px;
  .message{
    
  }
}

.dialogs__message--isMe {

}