.content {
  display: grid;
  grid-template-columns: 1fr 240px;
  padding: 15px;
  padding-left: 240px;
}

.main_content {
  box-sizing: border-box;
}
.other_content {
  width: 240px;
  padding: 0 15px;
  box-sizing: border-box;
}
