@import "../../../../variables.scss";

.status {
  input {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #888;
    &:focus-visible {
      outline: none;
    }
  }
}

.status__text {
  display: flex;
  align-items: center;
  min-height: 24px;
  min-width: 40px;
  cursor: pointer;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #adb5bd;

  span {
    margin-right: 4px;
  }

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    background-image: url("../../../../img/edit_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

