@import "../../variables.scss";

.media__button {
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: $white;
  cursor: pointer;
}

.media__button:hover {
  transform: scale(1.1);
}
