@import "../../../../variables.scss";

.create-post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 15px 10px 15px;
  box-shadow: $block-shadow;
  border-radius: 15px;
}

.create-post__text {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.create-post__text textarea {
  width: 100%;
  resize: vertical;
  height: 45px;
  min-height: 45px !important;
  box-sizing: border-box;
  border-radius: 15px;
  border: $border-gray;
  padding: 13px 8px 8px 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: $font-color;
}

.create-post__text textarea:focus-visible {
  outline: none;
}

.create-post__user-avatar {
  position: absolute;
  left: 10px;
  top: 8px;
}

.create-post__button .round-btn {
  background-color: $pink;
  &:disabled {
    background-color: $button-grey;
  }
}

.create-post__media {
  margin-left: auto;
}

.validField__create-post--error{
  .validField__warning-text {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 14px;
    font-weight: 500;
    font-size: 12px;
    span {
      margin-left: 5px;
    }
  }
}

