@import "./variables.scss";
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-weight: 600;
  color: #888;
  /* background-color: #293145; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  scrollbar-color: rgb(224, 224, 224) #fff; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* ширина для вертикального скролла */
  border-radius: 5px;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: $pink;
  border-radius: 30%;
  box-shadow: inset 1px 1px 10px #fff;
}

.visibility-hidden {
  display: none;
}
