$pink: #ffc0cb;
$green: #5f9ea0;
$white: #ffffff;
$button-grey: #f5f5f5;
$font-color: #888;
$warning: #ff9100;
$block-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
$border-gray: 2px solid #f1f1f1;
$border-radius: 15px;
