@import "../../../../variables.scss";

.dialogs_list {
  // min-width: 190px;
  height: calc(100vh - 265px);
  overflow: auto;
  overflow-x: clip;
  scrollbar-width: thin;
  border-radius: 15px;
  box-sizing: border-box;
}

.dialogs_item {
  display: flex;
  align-items: center;
  margin: 15px 10px 15px 0;
}
.dialog_name.active {
  position: relative;
  color: $green;
}

.dialog_name {
  
  position: relative;
  cursor: pointer;
}

.dialogs_item{
  &:hover{
    a{
      color:$pink;
    }
  }
  a {
    color: $font-color;
    margin-left: 5px;
    font-size: 14px;
    flex-shrink: 0;
  }
} 

.dialogs_item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $pink;
}
