@import "../../../variables.scss";

.friends {
  min-width: 650px;
  box-shadow: $block-shadow;
  border-radius: $border-radius;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.friends__item {
  display: flex;
  padding: 20px;
  border-bottom: $border-gray;
}

.friend__name-box {
  margin-left: 20px;
}

.friends__follow-buttons {
  button {
    border: none;
    color: $white;
    cursor: pointer;
    padding: 10px;
    border-radius: $border-radius;
  }
  .friends__unfollow-button {
    background-color: $pink;
    &:disabled {
      background-color: gray;
      cursor: auto;
    }
  }
  .friends__follow-button {
    background-color: $green;
    &:disabled {
      background-color: $button-grey;
      color: $font-color;
      cursor: auto;
    }
  }
}

.friends_find {
  margin-left: auto;
}
