@import "../variables.scss";

.account {
  width: 210px;
  border-radius: 15px;
  box-shadow: $block-shadow;
  box-sizing: border-box;
  padding: 15px;
}

.account a {
  display: flex;
  flex-wrap: wrap;
  color: $font-color;
  align-items: center;
}

.account_description {
  color: #adb5bd;
  font-size: 14px;
}

.account_item .small_btn {
  transition: all 0.5s;
}

.account_item:hover .small_btn {
  transition: all 0.5s;
  transform: scale(1.1);
}

.account p {
  padding-left: 10px;
  transition: all 0.5s;
}

.account_item:hover p {
  transition: all 0.5s;
  color: $pink;
}

.account_item:hover .sound_btn {
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
}

.account_item_settings .small_btn::before {
  background-image: url("../img/settings_icon.svg");
}
.account_item_analytics .small_btn::before {
  background-image: url("../img/analytics_icon.svg");
}
